<link href="/css/components/footer.css" rel="stylesheet">
<footer class="footer container">
  {% set navItems = metadata.footerLinks %}
  {% set navType = 'secondary' %}
  {% include 'components/navigation.njk' %}
</footer>
