---
layout: layouts/base.njk
---
<link href="/css/layouts/post.css" rel="stylesheet">
<h1>{{ title }}</h1>

{% set meta = { date: page.date, author: author, content: content } %}
{% set metaClass = 'post__meta' %}
{% include 'components/post-meta.njk' %}

{{ content | safe }}
