---
layout: layouts/base.njk
---
<link href="/css/layouts/post.css" rel="stylesheet">
<article class="post">
  <h1 class="post__title">{{ title }}</h1>

  {% if includeMeta %}
    {% set meta = { date: page.date, author: author, content: content } %}
    {% set metaClass = 'post__meta' %}
    {% include 'components/post-meta.njk' %}
  {% endif %}

  {{ content | safe }}
</article>
