.post__title {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.25;
  margin-bottom: var(--space-xxs);
}

.post__meta {
  margin-bottom: var(--space-xl);
}

@media screen and (min-width: 576px) {
  .post__title {
    font-size: 48px;
  }
}
