:root {
  --font-family-primary: 'Source Sans Pro', sans-serif;
  --font-family-secondary: 'Source Code Pro', sans-serif;

  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;

  --color-primary: #00ff00;
  --color-secondary: #00ff00;

  --color-grey-200: #fbfbfb;
  --color-grey-300: #f6f6f6;
  --color-grey-400: #acadac;
  --color-grey-500: #1c1c1c;

  --space-zero: 0px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 40px;
  --space-xxl: 60px;
  --space-xxxl: 120px;

  --radii-s: 4px;

  --width-m: 620px;
  --width-l: 940px;
  --width-xl: 1200px;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html {
  font: 125%/1.75 'Source Sans Pro', sans-serif;
}

body {
  color: var(--color-grey-500);
  font-family: var(--font-family-primary);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  margin: 0;
}

/* General */
.container {
  margin: 0 auto;
  max-width: 940px;
  padding-right: var(--space-l);
  padding-left: var(--space-l);
}

/* Header */
.header {
  padding: var(--space-l);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 600;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-l);
  text-decoration: none;
  color: var(--color-grey-500);
}

.header__logo::before {
  content: '>> ';
  color: var(--color-primary);
}

/* Navigation */
.nav--secondary .nav__link {
  font-size: var(--font-size-s);
  color: var(--color-grey-400);
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item {
  margin-right: var(--space-l);
  line-height: 1;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: var(--color-grey-500);
  cursor: pointer;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-m);
  font-weight: 600;
  line-height: 1.25;
  text-decoration: none;
  position: relative;
}

.nav__link[aria-current='page']::after {
  transform: scaleY(4);
  animation: 1000ms ease 300ms 1 normal forwards running pulse;
}

.nav__link:hover::after {
  transform: scaleY(4);
}

.nav__link::after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: var(--color-grey-300);
  height: 4px;
  bottom: -8px;
  left: 0;
  z-index: -1;
  transform-origin: center bottom 0;
  transition: transform 100ms ease-in 0s;
}

@keyframes pulse {
  0% {
    transform: scaleY(4);
  }
  100% {
    transform: scale(1.3, 8);
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  min-height: 60px;
}

@media screen and (min-width: 576px) {
  .footer {
    justify-content: flex-end;
  }
}
