<link href="css/components/header.css" rel="stylesheet">
<header class="header container">
  <a href="{{ '/' | url }}" class="header__logo" aria-label="Homepage">{{ metadata.sitename }}</a>

  {% set navItems = collections.all | eleventyNavigation %}
  {% include 'components/navigation.njk' %}
</header>
